@charset=utf-8;

div{
	width: 500px;
	height: 200px;
	/*background-image: linear-gradient(to top right, rgba(0,0,0,0.6),rgba(0,0,0,0));*/
	/*测试渐变效果*/
	background-image: radial-gradient(circle,orange,green);
}