@charset=utf-8;

div{
	width: 500px;
	height: 300px;
	/*background-color: #36FD5E;*/
	border-image-source: url(./backup.jpg);
	/*设置边框图片宽度*/
	border-image-width: 27px;
	border-image-slice: 27;
	border-image-outset: 20px;
	/*transform: scale(0.8,0.8);*/
	/*transform: translate(200px,0);*/
	transform: skew(45deg,20deg);
}