@charset=utf-8;

/*设置父节点为相对*/
body{
	position: relative;
	width: 960px;
	margin: 0 auto;
	position: relative;
}
/*如果父元素设置了参考点那么子元素以它为基准*/
.header{
	position: absolute;
	width: 960px;
	height: 120px;
	background-color: olive;
	top: 0;
	left: 0;
}

.aside {
	width: 200px;
	height: 500px;
	background-color: purple;
	position: absolute;
	top: 120px;
	left: 0;
}
.section {
	width: 760px;
	height: 500px;
	background-color: maroon;
	position: absolute;
	top: 120px;
	/*left: 200px;*/
	right: 0;
}
.footer {
	width: 960px;
	height: 120px;
	background-color: gray;
	position: absolute;
	top: 620px;
}