@charset="utf-8";

table{
	border-collapse: separate;
	background-color: #DDF05C;
	border-spacing: 1px;
	caption-side: top;
	/*内容过长时不拉伸整个单元格*/
	table-layout: fixed;
}

ul{
	list-style-type: decimal;
	list-style-position: inside;
	/*使用图片作为前缀*/
	/*list-style-image: url(backup.jpg);*/
}